* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}

main {
    width: 100%;
    padding: 20px;
}

.task-column {
    margin-bottom: 20px;
}

.card {
    border-radius: 5px;
    width: 100%;
    border: 3px solid black;
    margin: 10px auto; /* Centraliza os cards */
    padding: 10px;
}

.card h3 {
    background: #0583F2;
    color: white;
    padding: 10px;
}

.card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #0583F2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0466B9;
}
